.logo {
  font-family: 'Source Sans Pro', sans-serif;
}
.logo h1 {
  font-size: 36px;
}
.logo h2 {
  font-size: 27px;
  letter-spacing: 1px;
}
body {
  font-family: 'Roboto', sans-serif;
}
.lead-text {
  background: rgba(45, 63, 123, 0.44) !important;
  color: white;
}
.lead-text h1 {
  font-size: 30px;
}
.lead-image {
  background-image: url("children-593313_1920.jpg");
  background-size: cover;
  min-height: 605px;
  margin-right: 0px !important;
  margin-left: 0px !important;
}
.facts-headline {
  margin-top: 25px;
  padding-top: 25px;
}
.facts-headline h2 {
  color: #2D3F7A;
  margin-bottom: 22px;
  font-size: 26px;
}
.facts-main {
  padding-bottom: 50px;
}
.facts-main .facts-image {
  text-align: center;
}
.zero-side-margin {
  margin-right: 0px !important;
  margin-left: 0px !important;
}
.zero-padding-left {
  padding-left: 0px !important;
}
